.env
**/.env
*.env
__pycache__/
*.py[cod]
venv/
**/venv/
instance/
.pytest_cache/
.mypy_cache/

*.db
*.db-shm
*.db-wal

node_modules/
**/node_modules/
dist/
build/
.vite/



.DS_Store
Thumbs.db
.vscode/
.idea/

kubernetes/secret.yaml

# --- Terraform State ---
*.tfstate
*.tfstate.backup
.terraform/
.terraform.lock.hcl

# --- Ansible ---
*.retry
# If you use Ansible Vault password files locally
.ansible_vault_pass

# --- Infrastructure / K3s ---
k3s.yaml
*.pem
*.key