.env
**/.env
*.env
__pycache__/
*.py[cod]
venv/
**/venv/
instance/
.pytest_cache/
.mypy_cache/

*.db
*.db-shm
*.db-wal

node_modules/
**/node_modules/
dist/
build/
.vite/

*.dockerignore

.DS_Store
Thumbs.db
.vscode/
.idea/
